<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body class="bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-300">
    <div class="mx-32">
        <div class="container mx-auto my-auto flex flex-row flex-wrap">
            <div class="">
                <h1 class="font-bold text-4xl mt-64 mb-3 text-purple-800 text-center">Welcome to kanban app</h1>
                <p class="mb-10 text-center text-md text-purple-900">Kanban is a popular Lean workflow management method for defining, managing, and improving services that deliver knowledge work. It helps you visualize work, maximize efficiency, and improve continuously. Work is represented on Kanban boards, allowing you to optimize work delivery across multiple teams and handle even the most complex projects in a single environment.</p>
    
                <div class="text-center">
                    <a class="w-full shadow-lg text-white bg-purple-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-3"
                        href="/login"
                    >login</a>
            
                    <a class="w-full text-white bg-white text-purple-700 shadow-lg border-gray-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mx-3"
                        href="/register"
                    >Register</a>
                </div>
            </div>
        </div>

    </div>
</body>
</html>